name: Run JUnit CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  automation-JUnit:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '22'
          distribution: 'temurin'

      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: latest

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build

      - name: Run test
        run: ./gradlew clean test

      - name: Upload Cucumber Report
        uses: actions/upload-artifact@v3
        with:
          name: cucumber-report
          path: target/cucumber-reports/
